
# New daemon DN added on Tue May 26 22:23:09 2015
# Comment: test schedd dn
# The following DN will map to test_schedd
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=cabinet-10-10-5.t2.ucsd.edu

# New daemon DN added on Thu May 28 14:58:28 2015
# Comment: add my own DN since it is the pilot too
# The following DN will map to pilot
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=osg-ligo-1.t2.ucsd.edu

# New daemon DN added on Mon Jun  1 14:28:41 2015
# Comment: GATech schedd
# The following DN will map to gatech_schedd
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=ligo-condorsch.pace.gatech.edu

# New daemon DN added on Mon Jun 25 13:21:41 2015                                                                                                            
# Comment: GATech schedd 2                                                                                                                                   
# The following DN will map to gatech_schedd ligo-6
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=ligo-6.pace.gatech.edu